.create_user {
  width: 85%;
  height: calc(100% - 60px);
  max-height: calc(100% - 60px);
}

.create_user-wrap {
  margin: 0 10%;
  padding: 1rem 5%;
}

.user-wrap {
  align-content: center;
  justify-content: center;
}

.hub-wrap {
  grid-template-rows: auto auto 1fr;
}