.payment-status--wrap {
    display: inline-block;
}

.payment-status {
    padding: .2rem .6rem;
    border-radius: 10px;
}

.payment-status--paid {
    background: var(--green);
}

.payment-status--pending {
    background: var(--yellow);
}

.payment-status--refunded {
    background: var(--input-placeholder-color)
}

.payment-status--overdue {
    background: var(--warning);
    cursor: pointer;
}