.submenu-item {
    padding-left: 5px;
    transition: color .5s;
}

.submenu-item:hover,
.submenu-item--active{
    color: var(--link) !important;
}

.submenu-item--active::after {
    content: '';
    position: absolute;
    right: 0;
    top: 3%;
    height: 94%;
    width: 4px;
    background: var(--link);
}

.submenu_text_wrap {
    width: 80px;
    max-width: 80px;
}